html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carrito_compras{
    height: 55px;
}
body {
    background-color: #fffb04; 
    font-family: Arial, sans-serif;
}
/* hace que el fondo sea un conetenedor par apoder poner luego los p */
.imagen_pruducto_en_conteneiner{
    height: 200px;
    width: 300px;
}
.contenedor-fondo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #fffb04; 
}
/* she takes my dinero */
.dinero{
    color: rgb(21, 255, 0);

}
/* Barra Superior */
.barra_superior {
    background: rgb(0, 0, 0);
    width: 100%;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
/* la imagen del perfil */
.imagen_usuario_inside{
    height: 60px;
    
}
/* cosas de la drecha en la barra */

.cosas_derecha{
    align-items: center;
    margin-left: auto;
    display: flex;     
    flex-direction: row; 
    gap: 30px;        


}
/* el coso de nombre y el pnj ese  */

.conteiner_usuario_arriba{
    display: flex; 
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}
/* el tamaño del logo por uqe sino se vuelve salvaje y hace loq ue quiere */

.logowich_arriba{
    height: 75px;
}
/* ek boton, ingnorad barra derecha cahvales */

.barra_derecha button {
    padding: 10px 20px;
    background-color: #fffb04;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
}
.crear_producto button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
}
/* bloque del form del profe pero acada teinen que estar los pdocutos */

.container {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    margin: 20px;
    width: 500px; 
    text-align: center;
}
.conteiner_de_productos{
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}