* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffb04; 
    font-family: Arial, sans-serif;
}
/* hace que el fondo sea un conetenedor par apoder poner luego los p */

.contenedor-fondo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #fffb04; 
}

/* Barra Superior */
.barra_superior {
    background: rgb(0, 0, 0);
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
/* logo de arriba izquierda */

.usuario_arriba{
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}
.logowich_arriba{
    height: 75px;
}
.nombre_usuario{
    color: #fffb04;
    

}

/* elbton de cerrar sesion */

.barra_derecha button {
    padding: 10px 20px;
    background-color: #fffb04;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
/* conteiner del form */

.container {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 350px;
    margin-top: 20px; 
    text-align: center;
}